@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .yanone {
      font-family: 'Yanone Kaffeesatz Variable', system-ui, sans-serif;
    }
    .montserrat {
        font-family: 'Montserrat Variable', sans-serif;
    }
    .pbred {
      color: #9d2323;
    }
}
